﻿

﻿@model IEnumerable<Cumulative_3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all Teachers</p>

<div id="containerlist">
    <a href="/Teacher/Add" class="btn btn-success">Add Teacher</a>
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    }
</div>